
<div class="shadow_under trip-row" th:each = "entry : ${trips.list}">
  <div>
    <span th:text = "${entry.getYear}"></span><span> год</span>
  </div>
  <div class="grid">
    <form class="grid-block" method="post" th:each="trip : ${entry.orderedTrips}" th:action="@{trips/post/}" action="#">
      <input name="number" th:value="${trip.getTrip_id}" hidden>
      <button class="grid-button">
        <h3 th:text="${trip.getTitle}"> Title </h3>
        <span th:text="${trip.getStart_date}"> StartDate </span>
        <span> - </span>
        <span th:text="${trip.getEnd_date}"> EndDate</span>
        <p th:if="${trip.hasD}" th:text="${trip.getDescription}"> Description </p>
      </button>
    </form>
  </div>
</div>
