body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --button-hover-margin: 3px;
    --outer-margin: 3rem;
}
h1,h2,h3,h4{
    text-align:center;
    margin: 0;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
h1{
    padding: 0.7em;
    background-color: lightskyblue;
}

button{
    width: fit-content;
    padding: 0.5rem;
    background-color: gainsboro;
    border-width: 0;
    border-radius: 3px;
    transition: background-color 0.5s;
}

button:hover{
    border-bottom: gray solid var(--button-hover-margin);
    background-color: lightgray;
}
.side-margins{
    margin: 0 var(--outer-margin);
}
.vert-margins{
    margin: var(--outer-margin) 0;
}
.grid{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(max(30%, 40ch), 1fr));
    gap: 1rem;
}
.trip-row{
    padding: 1rem;
}
.grid-block{
    position: relative;
    display: flex;
    flex-direction: column;
}
.grid-block:not(:has(.add-button)):after{
    content: '';
    height: var(--button-hover-margin);
}
.grid-block:hover:after{
    height: 0;
}
.grid-block:hover,
.grid-block:focus{
    margin-bottom: 0;
}
.grid-block .add-button{
    height: 100%;
}
.grid-button{
    /*display: none;*/
    width: auto;
    height: auto;
    margin: 0;
}
.grid-button:hover,
.grid-button:focus{
    background-color: lightblue;
}
.add-button{
    position: relative;
    height: auto;
    border: black solid 5px;
    transition: background-color 0.5s;
}
.add-button:hover{
    border: black solid 5px;
    background-color: white;
}
.input-form{
    width: fit-content;
}
.selection{

}
.option{
    outline: darkgrey solid 5px;
    border: black solid 5px;
    box-shadow: 0 0 1px 1px gray;
}
.left-flex{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.left-option{
    right: 1rem;
}
.default-option{
    font-size: 1rem;
    color: darkgrey;
}
.shadow_under{
    box-shadow: 0 0 1px 1px gray;
}
.window{
    position: relative;
}
.exit{
    height: 3rem;
    width: 3rem;
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
}
