h2{
    text-align:center;
    background-color: #b6d9d8;
    padding: 30px 0
}
.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(250px, auto);
}
.trip-block{
    padding: 2em 1em;
    margin: 1em;
    border: gray solid 1px;
}
.trip-block:hover, :focus{
    background-color: lightblue;
}