<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0"
    >
    <title>Все путешествия</title>
    <!--suppress SyntaxError -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/my_style.css}"/>
    <script src="/js/actions.js" type="text/javascript" th:href="@{js/actions.js}" ></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


</head>
<body onload="LoadTrips()">

<h1>Мои путешествия</h1>

<div class="side-margins">
    <div class="spread-row down">
        <form method="post" class="vert-margins" action="#" th:action="@{/trips/add/}"
              id='add-trip-form' th:object="${trip}">
            <div class="window input-form shadow_under">
                <div class="window-header">
                    <button type="reset" class="small-button" onclick="HideOneShowAnother( 'add-trip-form', 'add-trip-b')">
                        <img class="fit-img" src="/img/close.png">
                    </button>
                    <h2>Добавить путешествие</h2>
                </div>
                <div class="spread-row">
                    <label for="trip-title">Название: </label>
                    <input id="trip-title" type="text" th:field="*{title}" required>
                </div>
                <div class="spread-row">
                    <label for="trip-start-date">Первый день: </label>
                    <input id="trip-start-date" type="date" th:field="*{start_date}" required></div>
                <div class="spread-row">
                    <label for="trip-end-date">Последний день: </label>
                    <input id="trip-end-date" type="date" th:field="*{end_date}">
                </div>
                <button class="spread-row" type="submit">Добавить</button>
            </div>
        </form>
        <button class="add-button" id="add-trip-b"
                onclick="HideOneShowAnother( 'add-trip-form', 'add-trip-b')">
            <h3>Добавить путешествие</h3>
        </button>
        <div class="right-flex">
            <form class="vert-margins" method="post" th:action="@{trips/setFilter/}" action="#" id="filterForm">
                Показать путешествия для:<span>   </span>
                <select id="filter" class="selection" onchange="submitFilter()">
                    <option class="option default-option" value="all">--Все--</option>
                    <option class="option" th:each="person : ${people}"
                            th:value="${person.getPerson_id}" th:text="${person.generalName}"></option>
                </select>
            </form>
        </div>
    </div>
    <div class="filtered-trips"></div>
</div>
</body>
</html>