<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Trips</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/my_style.css}"/>
    <script type="text/javascript" th:href="@{js/actions.js}"></script>
    <script type="text/javascript">
        $(document).fun(function(num){
            alert("ready!");
            console.log("ready")
        });
    </script>

</head>
<body>
<h2 style="">My project Page</h2>

<div class="grid" >
    <script>
        function date(id){
            document.getElementById(id).submit();
            //alert(id);
        }

    </script>
    <form class = "trip-block" method="post"  th:each = "trip : ${trips}"
          th:action="@{trips/post/}" action="#" th:id="${trip.getTrip_id}">
        <input name="number" th:value="${trip.getTrip_id}" hidden>
        <button class = "trip-button">
            <h3 th:text="${trip.getTitle}"> Title </h3>
            <span th:text="${trip.getStart_date}"> StartDate </span>
               <span> - </span>
            <span th:text="${trip.getEnd_date}"> EndDate</span>
            <p th:text="${trip.getDescription}"> Description </p>
        </button>
    </form>
</div>
<form method="post" th:action="@{trips/post/}" action="#">
    <input name="number" th:value="3">
    <button type="submit">Click</button>
</form>

</body>
</html>