<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="border: black solid 1px">
  <tr style="margin:1%; background-color: white; border: black solid 1px">
    <th style="border: black solid 1px">Title</th>
    <th  style="border: black solid 1px">Start Date</th>
    <th  style="border: black solid 1px">End Date</th>
    <th  style="border: black solid 1px">Description</th>
  </tr>
  {{#trips}}


        <tr>
          <form method="post" action="localhost:8080/trip/">
            <input id = {{getTrip_id}} hidden>
            <button type="submit">
        <td style="border: black solid 1px">{{Title}}</td>
        <td style="border: black solid 1px">{{StartDate}}</td>
        <td style="border: black solid 1px">{{EndDate}}</td>
        <td style="border: black solid 1px">{{Description}}</td>
            </button>
          </form>
          {{/trips}}
        </tr>




</table>
<form method="get" action="http://localhost:8080/trips/">
  <button type="submit">Main Trips</button>
</form>
</body>
</html>